* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    45deg,
    hsl(240deg 37% 64%) 0%,
    hsl(275deg 34% 64%) 11%,
    hsl(311deg 37% 66%) 22%,
    hsl(333deg 57% 72%) 33%,
    hsl(349deg 76% 77%) 44%,
    hsl(4deg 91% 80%) 56%,
    hsl(17deg 98% 79%) 67%,
    hsl(27deg 95% 79%) 78%,
    hsl(39deg 84% 78%) 89%,
    hsl(55deg 66% 79%) 100%
  );
  backdrop-filter: blur(2px);
  height: 100vh;
  /* width: 110vw; */
  display: flex;
  justify-content: space-between;

  font-family: "Comfortaa", sans-serif;

  color: white;
  padding: 10px;
  overflow: hidden;
}
.heading1 {
  font-size: 34px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 60px;
  text-transform: uppercase;
  width: 40%;
  margin: auto 0;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.125);
  margin-left: 10px;
}

.heading1p {
  text-transform: none;
  font-size: 18px;
  padding: 4px;
}

.main {
  display: flex;
  justify-content: end;
}

.movies {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}
.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 65vh;
  box-shadow: 0 50px 50px 10px rgba(0, 0, 0, 0.125);
  background: transparent;
  transition: all 0.15s;
  text-decoration: none;
  color: aliceblue;
}
.card:visited {
  text-decoration: none;
  color: aliceblue;
}
.card:hover {
  transform: scale(105%);
}
.image {
  height: 60vh;
}
.content {
  height: 40vh;
  padding: 14px;
}
.content_name {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 900;
}
.content_date {
  font-size: 18px;
}
.content_desc {
  font-size: 14px;
  line-height: 1.4;
}

.image_img {
  height: 100%;
  width: 100%;
}
.img_yourname {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}
